[Unit]
Description=LMS Gunicorn Daemon
After=network.target redis-server.service

[Service]
User=django
Group=django
WorkingDirectory=/home/django/lms-project
Environment="PATH=/home/django/lms-project/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=config.settings.production"
ExecStart=/home/django/lms-project/venv/bin/gunicorn \
    --config /home/django/lms-project/config/gunicorn.conf.py \
    config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target